* {
    margin: 0%;
    padding: 0%;
}

body {
    font-family: 'Poppins', sans-serif;
}

img {
    width: 100%;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;
    color: #707070;
}

p {
    font-size: 18px;
}

.gap {
    padding: 60px 60px;
}

.mark {
    color: #fba24f;
}

.btn {
    padding: 12px 30px;
    border-radius: 100px;
    border: none;
    background: linear-gradient(88.33deg, #FBA24F -7.64%, #FF1E1E 145.94%);
    color: white;
    font-weight: bold;
    font-size: 16px;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.hero-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-text {
    width: 50%;
}

.hero-text p {
    margin: 16px 0;
}

.hero-image {
    width: 50%;
}

.about-image {
    width: 50%;
}

.about-image img {
    width: 60%;
}

.about-text {
    width: 50%;
}

.about-section {
    background-image: url(./images/shapes/7.png);
    background-size: cover;
    background-position: center;
    padding-top: 60px;
}

.about-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about-text p {
    margin: 40px 0;
}

.main-card {
    display: flex;
    justify-content: space-evenly;
}

.card {
    width: 400px;
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.15);
    padding: 20px;
    border-radius: 20px;
}

.card h3 {
    font-weight: bold;
    font-size: 25px;
    margin: 10px 0;
}

.main-recipies {
    text-align: center;
    margin-bottom: 45px;
}

.main-recipies p {
    color: #252525;
    margin-top: 20px;
}

.media {
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.15);
    display: flex;
    justify-content: space-evenly;
    padding: 40px;
    border-radius: 15px;
}

.data h2 {
    color: #000;
}

.data p {
    color: #676767;
}

.footer-section {
    background-color: #0B0D17;
    color: white;
    text-align: center;
    padding: 40px 0;
    margin-top: 40px;
}